
.shiv{
    border: 5px solid yellow;
}
ul{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}
li{
    list-style: none;
    float: left;
    border: 1px solid tomato;
    border-radius: 12px;
    background: linear-gradient(red,rgb(231, 231, 138),rgb(245, 93, 118));
    line-height: 30px;
}
a{
    padding: 0px 36px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
h1{
    margin-left: 200px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}
h3{
    margin-left: 150px;
    color: orangered;
    font-size: 20px;
}
h4{
    margin-left: 180px;
    color:green;
    font-size: 18px;
}
h2{
    margin-left: 170px;
    color: purple;
    font-size: 30px;
}
p{
    text-align: center;
    color: orangered;
    font-size: 40px;
}



    

